* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: rgb(51, 51, 51);
}

button {
  font-family: "Nunito", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  display: flex;
  flex: 1;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  padding: 1rem;
  width: 80%;
  background: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* transform: translateY(100px); */
  transition: all 0.5s ease-in-out;
  /* pointer-events: none; */
  /* opacity: 0; */
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0%;
  right: 0%;
  border: none;
}

.controllers {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: white;
  background: rgb(31, 33, 63);
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  cursor: pointer;
  margin: 2rem 0rem;
  background: none;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.copy-container.active {
  pointer-events: all;
  opacity: 1;
}

.copy-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
  border-radius: 1rem;
}

.copy-popup.active {
  transform: translateY(0rem);
}

.copy-popup h3 {
  font-size: 1.8rem;
  padding: 1rem;
}

.copy-popup h4 {
  font-size: 1.5rem;
}
